<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title >Sun</title>
   <link href="css/normalize.css" rel="css/stylesheet" type="text/css" media="all">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-theme.css">
  <link rel="stylesheet" href="css/bootstrap-checkbox.css">
</head>

<body>
  <div id="top" class="container-fluid">

     <div id="adminMenu" class="nav">
      <label id="logo" class="brand">Sun</label>
      <label id="usuarios">Usuarios</label>     
      <label id="categorias">Categorías</label>
      <label id="productos">Productos</label>
    </div>
  </div>
 <!-- <div id="aside" class="col-sm-1 col-md-1 sidebar">
    <ul id="catmenu" class="nav nav-sidebar">
      <li><a>1</a></li>
      <li><a>2</a></li>
      <li><a>3</a></li>
      <li><a>4</a></li>
      <li><a>5</a></li>
    </ul>
  </div>!-->

  <section id="sunapp">
    <div id="menuAdmin"></div>
  </seccion>
  <section id="mainapp">
  </seccion>

  <!-- TEMPLATE LOGIN!-->
  <script type="text/template" id="loginAut">
    <style type="text/css">
    body { padding-top: 40px;padding-bottom: 40px;background-color: #f5f5f5;}
    .form-signin { max-width: 300px; padding: 19px 29px 29px; margin: 0 auto 20px;
      background-color: #fff; border: 1px solid #e5e5e5; -webkit-border-radius: 5px;
      -moz-border-radius: 5px; border-radius: 5px;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
      -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);box-shadow: 0 1px 2px rgba(0,0,0,.05);}
      .form-signin .form-signin-heading,.form-signin .checkbox {margin-bottom: 10px;}
      .form-signin input[type="text"],.form-signin input[type="password"] {font-size: 16px;
        height: auto;margin-bottom: 15px;padding: 7px 9px;}
      </style>
     <div class="container">
      <form class="form-signin">
        <h2 class="form-signin-heading">Sol</h2>
        <input id="userlogin" type="text" class="input-block-level" placeholder="Usuario" required>
        <input id="passlogin" type="password" class="input-block-level" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Recordarme
        </label>
        <button class="btn btn-large btn-primary" id="loginButton" type="submit">Log In</button>
      </form>
    </div> 
  </script>
  
   <!-- TEMPLATE ADMINISTRACIÓN DE USUARIOS!-->
  <script type="text/template" id="adminUsuarios"> 
    <div id="menuUser" class="8col-md-8">
      <button id="agregarUser" class="btn btn-primary">Agregar</button>     
      <button id="verUser" class="btn btn-primary">Ver</button>
    </div>
    
    <form id="addUser" name="addUser" class="form-horizontal container">

      <div class="form-group">
        <label for="new-user-user" class="col-sm-2 control-label">Usuario: </label>
        <div class="col-sm-10">
          <input id="new-user-user" name="new-user-user" type="text"  class="form-control" autofocus required>
        </div>
      </div>
      <div class="form-group">
        <label for="new-user-pass" class="col-sm-2 control-label">Password: </label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="new-user-pass" required>
        </div>
      </div>

      <div class="form-group">
        <label for="new-user-name" class="col-sm-2 control-label">Nombre: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="new-user-name" required>
        </div>
      </div>
        
      <div class="form-group">
        <label for="new-user-mail" class="col-sm-2 control-label">Mail: </label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="new-user-mail" required>
        </div>
      </div>

      <div class="form-group">
        <label for="new-user-tel" class="col-sm-2 control-label">Telefono: </label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="new-user-tel" required>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button id="new-user" type="submit" class="btn btn-default"> GUARDAR </button>
          <div id="new-close" class="btn btn-default"> CERRAR </div>
        </div>
      </div> 
    </form>

    <div id="user-list" class="container">

    <table class="table table-hover">
        <thead>
          <tr>
            <th>User</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Telefono</th>
            <th></th>
          </tr>
        </thead>

        <tbody id="user-lista">
       
        </tbody>
    </table> 
    </div>
    <div id="edit-list"></div>

  </script>
  
   <!-- TEMPLATE ADMINISTRACIÓN DE USUARIOS!-->
  <script type="text/template" id="adminUsuariosView"> 
    <td><%= user %></label></td>
    <td><%= name %></label></td>
    <td><%= mail %></label></td>
    <td><%= tel %></label></td>
    <td> <button class="edit" value=""><span class="glyphicon glyphicon-pencil"></span></button><button class="destroy"><span class="glyphicon glyphicon-trash"></span></button> </td>
  </script>
  
  <!-- TEMPLATE ADMINISTRACIÓN DE USUARIOS!-->
  <script type="text/template" id="adminUsuariosEdit"> 
    <form id="editUser" class="form-horizontal container">
      <div class="form-group">
        <label for="edit-user-user" class="col-sm-2 control-label">Usuario: </label>
        <div class="col-sm-10">
          <input id="edit-user-user" type="text"  class="form-control" autofocus required value="<%= user %>">
        </div>
      </div>
      <div class="form-group">
        <label for="edit-user-pass" class="col-sm-2 control-label">Password: </label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="edit-user-pass" required value="<%= pass %>">
        </div>
      </div>
      <div class="form-group">
        <label for="edit-user-name" class="col-sm-2 control-label">Nombre: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="edit-user-name" value="<%= name %>" required>
        </div>
      </div>
      <div class="form-group">
        <label for="edit-user-mail" class="col-sm-2 control-label">Mail: </label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="edit-user-mail" required value="<%= mail %>">
        </div>
      </div>

      <div class="form-group">
        <label for="edit-user-tel" class="col-sm-2 control-label">Telefono: </label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="edit-user-tel" required value="<%= tel %>">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button id="edit-user" type="submit" class="btn btn-default"> MODIFICAR</button>
          <div id="edit-close" class="btn btn-default"> CERRAR </div>
        </div>
      </div>
    </form>
  </script>

  <script type="text/template" id="adminCategorias"> 
    <div id="menuCategoria">
      <label id="agregarCategoria"  class="btn btn-primary">Agregar Cat</label>     
      <label id="verCategoria"  class="btn btn-primary">Ver Cat</label>
    </div>
    <form id="addCategoria" name="addCategoria" class="form-horizontal container">
      <div class="form-group">
        <label for="new-categoria-cod" class="col-sm-2 control-label">Código: </label>
        <div class="col-sm-10">
          <input id="new-categoria-cod" type="text"  class="form-control" autofocus required>
        </div>
      </div>
       <div class="form-group">
        <label for="new-categoria-name" class="col-sm-2 control-label">Nombre: </label>
        <div class="col-sm-10">
          <input id="new-categoria-name" type="text"  class="form-control" required>
        </div>
      </div>
        <div class="form-group">
        <label for="new-categoria-descripcion" class="col-sm-2 control-label">Descripción: </label>
        <div class="col-sm-10">
          <input id="new-categoria-descripcion" type="text"  class="form-control" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
         <button id="new-categoria" type="submit" class="btn btn-default">NEW</button>
          <div id="new-close" class="btn btn-default"> CERRAR </div>
        </div>
      </div>
    </form>
    <div id="categoria-list">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
          </tr>
        </thead>

        <tbody id="categoria-lista">
       
        </tbody>
      </table> 
    </div>
    <div id="edit-list"></div>
  </script>

    <!-- TEMPLATE ADMINISTRACIÓN DE USUARIOS!-->
  <script type="text/template" id="adminCategoriasView"> 
    <td><%= cod %></label></td>
    <td><%= name %></label></td>
    <td><%= descripcion %></label></td>
    <td> <button class="edit" value=""><span class="glyphicon glyphicon-pencil"></span></button><button class="destroy"><span class="glyphicon glyphicon-trash"></span></button> </td>
  </script>


   <!-- TEMPLATE ADMINISTRACIÓN DE USUARIOS!-->
  <script type="text/template" id="adminCategoriasEdit"> 
    <div class="container">
    <form id="editCategoria" class="form-horizontal container">
      
      //CODIGO
      <div class="form-group">
        <label for="edit-categoria-cod" class="col-sm-2 control-label">Código: </label>
        <div class="col-sm-10">
          <input id="edit-categoria-cod" type="text"  class="form-control" autofocus required value="<%= cod %>">
        </div>
      </div>
      //NOMBRE
      <div class="form-group">
        <label for="edit-categoria-name" class="col-sm-2 control-label">Nombre: </label>
        <div class="col-sm-10">
          <input id="edit-categoria-name" type="text"  class="form-control" autofocus required value="<%= name %>">
        </div>
      </div>
      //DESCRIPCION
      <div class="form-group">
        <label for="edit-categoria-descripcion" class="col-sm-2 control-label">Descripción: </label>
        <div class="col-sm-10">
          <input id="edit-categoria-descripcion" type="text"  class="form-control" autofocus required value="<%= descripcion %>">
        </div>
      </div> 

      <div class="form-group">
        <div class="col-sm-10">
            <button id="edit-categoria" type="submit" class="btn btn-default"> MODIFICAR</button>
           <div id="edit-close" class="btn btn-default"> CERRAR </div>
        </div>
      </div>    
    </form> 
    </div>
  </script>

     <!-- TEMPLATE ADMINISTRACIÓN DE PRODUCTOS!-->
  <script type="text/template" id="adminProductos"> 
    <div id="menuProducto">
      <label id="agregarProducto">Agregar Prod</label>     
      <label id="verProducto">Ver Prod</label>
    </div>
    <form id="addProducto" name="addProducto" method="post" class="form-horizontal container">
     <!--CODIGO-->
      <div class="form-group">
        <label for="new-producto-cod" class="col-sm-2 control-label">Codigo: </label>
        <div class="col-sm-10">
          <input id="new-producto-cod"  name="new-producto-cod" type="text"  class="form-control" autofocus required>
        </div>
      </div>
     <!--NOMBRE-->
      <div class="form-group">
        <label for="new-producto-name" class="col-sm-2 control-label">Nombre: </label>
        <div class="col-sm-10">
          <input id="new-producto-name" type="text"  class="form-control" autofocus required>
        </div>
      </div>
     <!--DESCRIPCION-->
      <div class="form-group">
        <label for="new-producto-descripcion" class="col-sm-2 control-label">Descripcion: </label>
        <div class="col-sm-10">
          <input id="new-producto-descripcion" type="text"  class="form-control" autofocus >
        </div>
      </div>
      <!--DESCRIPCION2-->
      <div class="form-group">
        <label for="new-producto-descripcion2" class="col-sm-2 control-label">Descripcion2: </label>
        <div class="col-sm-10">
          <input id="new-producto-descripcion2" type="text"  class="form-control" autofocus >
        </div>
      </div>
<hr> 
      <!--CATEGORIA-->
      <div class="form-group">
        <div id="categoria-list">
          <label for="new-producto-categoria" class="col-sm-2 control-label">Categoria: </label>
            <div class="col-sm-10">
              <select id="new-producto-categoria" class="form-control">
              </select>
            </div>
        </div>
      </div>
     <!--MARCA-->
      <div class="form-group">
        <div id="marca-list">
          <label for="new-producto-marca" class="col-sm-2 control-label">Marca: </label>
            <div class="col-sm-10">
              <select id="new-producto-marca" class="form-control"> </select>
            </div> 
        </div>
      </div>
      
    <hr>
      <!--TALLE ZAPATILLA-->
      <div class="form-group">
        <label for="new-producto-talle" class="col-sm-2 control-label">Zapatillas: </label>
        <div class="col-sm-10">
        <div class="col1-sm-1"><span>All</span><input type="checkbox" id="zapas-all" class="checkbox" /></div>
          <div class="col1-sm-1"><span>35</span><input type="checkbox" name="talle[35]" class="checkbox" /></div>
          <div class="col1-sm-1"><span>36</span><input type="checkbox" id="talle36" class="checkbox" /></div>
          <div class="col1-sm-1"><span>37</span><input type="checkbox" id="talle37" class="checkbox" /></div>
          <div class="col1-sm-1"><span>38</span><input type="checkbox" id="talle38" class="checkbox" /></div>
          <div class="col1-sm-1"><span>39</span><input type="checkbox" id="talle39" class="checkbox" /></div> 
            <div class="col1-sm-1"><span>40</span><input type="checkbox" id="talle40" class="checkbox" /></div>
          <div class="col1-sm-1"><span>41</span><input type="checkbox" id="talle41" class="checkbox" /></div>
          <div class="col1-sm-1"><span>42</span><input type="checkbox" id="talle42" class="checkbox" /></div>
          <div class="col1-sm-1"><span>43</span><input type="checkbox" id="talle43" class="checkbox" /></div>
          <div class="col1-sm-1"><span>44</span><input type="checkbox" id="talle44" class="checkbox" /></div>
          <div class="col1-sm-1"><span>45</span><input type="checkbox" id="talle45" class="checkbox" /></div>
        </div>
      </div>
     <!--TALLE ZAPATILLA NIÑO-->
      <div class="form-group">
        <label for="new-producto-talle" class="col-sm-2 control-label">Zapatillas niño: </label>
        <div class="col-sm-10">
          <div class="col1-sm-1"><span>All</span><input type="checkbox" id="niño-all" class="checkbox" /></div>
          <div class="col1-sm-1"><span>2</span><input type="checkbox" id="talle2" class="checkbox" /></div>
          <div class="col1-sm-1"><span>3</span><input type="checkbox" id="talle3" class="checkbox" /></div>
          <div class="col1-sm-1"><span>4</span><input type="checkbox" id="talle4" class="checkbox" /></div>
          <div class="col1-sm-1"><span>5</span><input type="checkbox" id="talle5" class="checkbox" /></div>
          <div class="col1-sm-1"><span>6</span><input type="checkbox" id="talle6" class="checkbox" /></div> 
            <div class="col1-sm-1"><span>7</span><input type="checkbox" id="talle7" class="checkbox" /></div>
          <div class="col1-sm-1"><span>8</span><input type="checkbox" id="talle8" class="checkbox" /></div>
          <div class="col1-sm-1"><span>9</span><input type="checkbox" id="talle9" class="checkbox" /></div>
          <div class="col1-sm-1"><span>10</span><input type="checkbox" id="talle10" class="checkbox" /></div>
          <div class="col1-sm-1"><span>11</span><input type="checkbox" id="talle11" class="checkbox" /></div>
           <div class="col1-sm-1"><span>12</span><input type="checkbox" id="talle12" class="checkbox" /></div>
          <div class="col1-sm-1"><span>13</span><input type="checkbox" id="talle13" class="checkbox" /></div>   
           <div class="col1-sm-1"><span>14</span><input type="checkbox" id="talle14" class="checkbox" /></div>
          <div class="col1-sm-1"><span>15</span><input type="checkbox" id="talle15" class="checkbox" /></div>  
          <div class="col1-sm-1"><span>16</span><input type="checkbox" id="talle16" class="checkbox" /></div> 
        </div>
      </div>
      <!--TALLE -->
      <div class="form-group">
        <label for="new-producto-tamaño" class="col-sm-2 control-label">Tamaño: </label>
        <div class="col-sm-10">
          <div class="col1-sm-1">
            <span>All</span><input type="checkbox" id="tamaño-all" class="checkbox" />
          </div>
          <div class="col1-sm-1">
            <span>XXS</span><input type="checkbox" id="talleXXS" class="checkbox" />
          </div>
          <div class="col1-sm-1"><span>XS</span><input type="checkbox" id="talleXS" class="checkbox" /></div>
          <div class="col1-sm-1"><span>S</span><input type="checkbox" id="talleS" class="checkbox" /></div>
          <div class="col1-sm-1"><span>M</span><input type="checkbox" id="talleM" class="checkbox" /></div>
          <div class="col1-sm-1"><span>L</span><input type="checkbox" id="talleL" class="checkbox" /></div>
          <div class="col1-sm-1"><span>XL</span><input type="checkbox" id="talleXL" class="checkbox" /></div>
          <div class="col1-sm-1"><span>XXL</span><input type="checkbox" id="talleXXL" name="talleXXL" class="checkbox" /></div>
        </div>
      </div>
      <!--MEDIDAS-->
      <div class="form-group">
          <label for="new-producto-medidas" class="col-sm-2 control-label">Medidas: </label>
            <div class="col-sm-10">
              <input type="text" id="new-producto-medidas" class="form-control"></input>
            </div> 
      </div>
<hr>
      <!--COLOR-->
      <div class="form-group">
        <label for="new-producto-color" class="col-sm-2 control-label">Color: </label>
        <div class="col-sm-10">
          <input type="text" id="new-producto-color" class="form-control"> </input>
        </div> 
      </div>

      <!--IMAGENES-->
      <div class="form-group">
        <label for="new-producto-color" class="col-sm-2 control-label">Imagenes: </label>
        <div class="col-sm-10">
            <div class="col-sm-4" >
              <div id="preview1"  >
                <canvas id="canvas1" name="canvas1" class="img-thumbnail"></canvas>
              </div>
            </div>
            <div class="col-sm-4">
              <div id="preview2"  >
                <canvas id="canvas2"  name="canvas2" class="img-thumbnail"></canvas>
              </div>
            </div>
            <div class="col-sm-4">
              <div id="preview3"  >
                <canvas id="canvas3" name="canvas3" class="img-thumbnail"></canvas>
              </div>
            </div>
            <div class="col-sm-4">
              <div id="preview4"  >
                <canvas id="canvas4"  name="canvas4" class="img-thumbnail"></canvas>
              </div>
            </div>
            <div class="col-sm-4">
              <div id="preview5"  >
                <canvas id="canvas5"  name="canvas5" class="img-thumbnail"></canvas>
              </div>
            </div>
        </div> 
      </div>
  <hr>
      <div class="form-group">
        <div class="col-sm-5">
          </div>
            <div class="col-sm-7">
              <button id="new-producto" type="submit" class="btn btn-default"> GUARDAR</button>
            <div id="close-producto" class="btn btn-default"> CERRAR </div>
          </div>
        </div> 
      </div>
    </div>

   </form>
  </script>

   <script type="text/template" id="productoCategoria">
    <option value ="sydney">Sydney</option>
   </script>

  <script type="text/template" id="mainView"></script>

  <script src="js/lib/jquery.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/lib/backbone.localStorage.js"></script>
  <script src="js/lib/bootstrap.js"></script>
  <script src="js/lib/bootstrap-confirmation.js"></script>
  <script src="js/lib/bootbox.js"></script>
  <script src="js/lib/jquery.tinycolorpicker.min.js"></script>
  <script src="js/lib/bootstrap-checkbox.js"></script>
    <script src="js/lib/dojo.js"></script>
  <script src="js/models/user.js"></script>
  <script src="js/models/categoria.js"></script>
  <script src="js/models/producto.js"></script>
  <script src="js/collections/users.js"></script>
  <script src="js/collections/categorias.js"></script>
  <script src="js/collections/productos.js"></script>
  <script src="js/views/userViews/users.js"></script>
  <script src="js/views/userViews/editUser.js"></script>
  <script src="js/views/userViews/userList.js"></script>
  <script src="js/views/categoriaViews/categorias.js"></script>
  <script src="js/views/categoriaViews/editCategoria.js"></script>
  <script src="js/views/categoriaViews/categoriaList.js"></script>
  <script src="js/views/productViews/productos.js"></script>
  <script src="js/views/productViews/editProducto.js"></script>
  <script src="js/views/productViews/productoList.js"></script>
  <script src="js/views/login.js"></script>
  <script src="js/views/app.js"></script>
  <script src="js/routers/router.js"></script>
  <script src="js/app.js"></script>
</body>
</html>