body,html{
  width: 100%;
  height: 100%;
}

#top {
  width: 100%;
  height: 50px;
  background: #eee;
}

#mainapp {
  width: 100%;
  float: right;
}

#logo{
  font-family:  'Century Schoolbook', Georgia, 'Times New Roman', serif;
  font-weight: normal;
  font-size: 2.75em;
  letter-spacing: .2em;
  line-height: 1.1em;
  margin:0px;
  text-align: center;
  text-transform: uppercase;
}

#usuarios,#categorias,#productos{
  font-family: "Lucida Grande", Tahoma;
  font-size: 10px;
  font-weight: lighter;
  font-variant: normal;
  text-transform: uppercase;
  color: #666666;
  margin-top: 10px;
  text-align: center!important;
  letter-spacing: 0.3em;
  margin-right: 10px;
  margin-left: 10px;
}

#aside {
  width: 10%;
  height: 100%;
}

#addUser{
  width: 40%;
}